#!/bin/env direnv

# shellcheck disable=SC1008

DIRENV_ROOT_DIR="$(dirname "${BASH_SOURCE[0]}")"
ROOT_DIR="$(realpath "${DIRENV_ROOT_DIR}")"
PASSWORD_STORE_DIR="$(realpath "${ROOT_DIR}"/../password-store)"

TF_CLI_CONFIG_FILE="$(realpath "${DIRENV_ROOT_DIR}/.terraformrc")"

TG_PROVIDER_CACHE=1
TG_PROVIDER_CACHE_DIR="$(realpath "${DIRENV_ROOT_DIR}")/.terragrunt-cache/terragrunt/providers"
TG_NO_AUTO_INIT=0
TG_NON_INTERACTIVE=0
TG_QUEUE_EXCLUDE_EXTERNAL=1

INFRACOST_API_KEY="ico-xxxxxxxxxxxxxxxxxxxx"

# OVH api settings
OVH_APPLICATION_KEY="XXXXXXXXXXXXXXXX"
OVH_APPLICATION_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
# NB: get OVH_CONSUMER_KEY with scripts/ovh-get-app-creds.sh
# https://www.ovh.com/auth/sso/api?credentialToken=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OVH_CONSUMER_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# openstack settings
# get it from horizon access management page <https://www.ovh.com/manager/public-cloud/> "Users and Roles"
OS_AUTH_URL="https://auth.cloud.ovh.net/v3/"
OS_IDENTITY_API_VERSION=3
OS_USER_DOMAIN_NAME="Default"
OS_PROJECT_DOMAIN_NAME="Default"

# tfstates
TFSTATES_ACCESS_KEY_ID="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
TFSTATES_SECRET_ACCESS_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# useful to debug
OS_DEBUG=0
TF_LOG=""

export ROOT_DIR
export PASSWORD_STORE_DIR
export TF_CLI_CONFIG_FILE
export TG_PROVIDER_CACHE TG_PROVIDER_CACHE_DIR TG_NO_AUTO_INIT TG_NON_INTERACTIVE TG_QUEUE_EXCLUDE_EXTERNAL
export INFRACOST_API_KEY
export TFSTATES_ACCESS_KEY_ID TFSTATES_SECRET_ACCESS_KEY
export OVH_APPLICATION_KEY OVH_APPLICATION_SECRET OVH_CONSUMER_KEY
export OS_AUTH_URL OS_IDENTITY_API_VERSION OS_USER_DOMAIN_NAME OS_PROJECT_DOMAIN_NAME
export OS_DEBUG
export TF_LOG
